@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* TODO: Import design tokens from @punk/tokens */
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, sans-serif;
}
